<!DOCTYPE html>
<meta charset="utf-8">
<html>
<head>
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
  <link rel="stylesheet" type="text/css" href="../View/CSS/index.css">
<style>
#grad4 {
    background-color: #0093E9;
background-image: linear-gradient(122deg, #0093E9 0%, #6bfdee 100%);

    background-position: relative;
    background-repeat: no-repeat;
    background-size: 100% 100% ;
}
</style>
</head>
<body id="grad4" style="color: #ffffff;overflow-y: hidden;">
<!--CONTROL BAR-->
<div class="row" style="padding: 5px;">
	<div id="control-bar" class="col s10" style="height: 30px;border-radius: 10px">NHUExaming Tool v1.0.0 (c) Glixylus 2018</div>
	<div class="col s2" style="text-align: right;">
		<a class="btn-floating btn-small waves-effect waves-light amber darken-1"><i class="material-icons">expand_more</i></a>
		<a class="btn-floating btn-small waves-effect waves-light red lighten-1"><i class="material-icons">close</i></a>
	</div>
</div>
<!-- PART1 -->
<div class="col s12 m6" style="height: 600px;color: #ffffff;padding:10px;">
	<div class="center-align">
		<div style="padding: 20px">
		  <div class="row" style="text-align: left;">
		    <div class="col s12 m12">
		      <div class="card blue-grey darken-1">
		        <div class="card-content white-text">
		          <span class="card-title"><h5>NHUExaming Tool</h5></span>
		          <p>I am a very simple card. I am good at containing small bits of information.
		          I am convenient because I require little markup to use effectively.</p>
		        </div>
		        <div class="card-action">
		          <a href="#">Tìm hiểu thêm về phần mềm</a>
		        </div>
		      </div>
		    </div>
		  </div>

		</div>
		<div style="display: flex;justify-content: center;align-items: center">
			<a class="btn-floating btn-large waves-effect waves-light pulse white" style="width: 150px;height: 150px;display: flex;justify-content: center;align-items: center"><i class="material-icons" style="color:#0093E9;font-size: 50px;">format_shapes</i></a>
		</div>
		<div style="padding: 20px">
		    <h5 style="color:#ffffff">TẠO ĐỀ KIỂM TRA</h5>
		</div>
	</div>
</div>
<!-- PART1 -->
<!-- PART2 -->
<!-- <div class="col s12 m6" style="height: 600px;color: #ffffff;padding:10px;">
	<a class="waves-effect waves-light btn-large blue lighten-2"><i class="material-icons left">cloud</i>NẠP ĐỀ</a>
	<div class="row">
	    <form class="col s12">
	      <div class="row">
	        <div class="input-field col s12">
	          <textarea id="textarea1" class="materialize-textarea"></textarea>
	          <label for="textarea1">Textarea</label>
	        </div>
	      </div>
	    </form>
	  </div>
</div>
 -->
<!-- PART2 -->
</body>
</html>
<script type="text/javascript">

</script>
